@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.body{
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
/*shared styles*/
.display-flex {
    display: flex;
}
/*header styles*/
.nav-container{
   
position: static;
width: 1160px;
height: 62px;

display: flex;
flex-direction: row;
justify-content:space-between;
align-items: center;
gap: 186px;
padding: 0px;



flex: none;
order: 0;
flex-grow: 0;
margin: 20px 140px;
}
/*navbar realated styles*/
.navbar{
    display: flex;
    justify-content: space-between;
    
}
.nav-link{
    text-decoration: none;
    margin-right: 32px;
}
.home{
   
    color: rgb(254, 163, 1);
font-size: 20px;
font-weight: 700;
line-height: 30px;
}
.about{
    color: rgb(1, 172, 253);
font-size: 20px;
font-weight: 500;
line-height: 30px;
}
.facilities{
  color: rgb(5, 212, 223);
font-size: 20px;
font-weight: 500;
line-height: 30px; 
}
.admission{
    color: rgb(93, 88, 239);
font-size: 20px;
font-weight: 500;
line-height: 30px;
}
.school{
    flex: start;
}
.btn-primary{
width: 197px;
height: 50px;
background-color: rgb(254, 163, 1);
color: rgb(255, 255, 255);
padding: 10px;
border-radius: 12px;
border-style: none;

font-size: 1.25rem;
font-weight: 600;
}
.banner{
position: absolute;
width: 1158.61px;
height: 575px;
margin-left: 140px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 50;
padding: 0px;


}
.hero-text{
font-size: 40px;
font-weight: 700;
line-height: 61px;
}
.empowering{
   color: rgb(254, 163, 1);
}
.students{
   color: rgb(17, 17, 17); 
}
.towards{
    color: rgb(1, 172, 253);
}
.hero-kids-image{
    margin-left: 50px;
}